# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/configuration-reference
version: 2.1

setup: true

orbs:
  continuation: circleci/continuation@0.3.1

parameters:
  GHA_Actor:
    type: string
    default: ""
  GHA_Action:
    type: string
    default: ""
  GHA_Event:
    type: string
    default: ""
  GHA_Meta:
    type: string
    default: ""
  DEPS_Tag:
    type: string
    default: ""

executors:
  linux_x64_executor: # declares a reusable executor
    docker:
      - image: secretflow-registry.cn-hangzhou.cr.aliyuncs.com/secretflow/kuscia-ci:0.5
    resource_class: 2xlarge
    shell: /bin/bash --login -eo pipefail
  linux_aarch64_executor:
    docker:
      - image: secretflow-registry.cn-hangzhou.cr.aliyuncs.com/secretflow/kuscia-ci:0.5
    resource_class: arm.2xlarge
    shell: /bin/bash --login -eo pipefail

commands:
  build_kuscia_deps:
    steps:
      - run:
          name: "make build"
          command: |
            git config --global --add safe.directory ./
            #make deps-build
            docker ps
      - store_artifacts:
          path: build
  test:
    steps:
      - checkout
      - run:
          name: "kuscia test"
          command: make test
  build_kuscia:
    steps:
      - checkout
      - run:
          name: "make build"
          command: |
            git config --global --add safe.directory ./
            make build
            
            DIR="/tmp/build/linux"
            mkdir -p $DIR
            cp -rf ./build/linux/* $DIR
      - persist_to_workspace:
          root: /tmp/build
          paths:
            - linux

# Define a job to be invoked later in a workflow.
# See: https://circleci.com/docs/configuration-reference/#jobs
jobs:
  linux_build_kuscia_deps:
    docker:
      - image: cimg/deploy:2023.06.1
    shell: /bin/bash --login -eo pipefail
    parameters:
      resource_class:
        type: string
    resource_class: << parameters.resource_class >>
    steps:
      - checkout
      - setup_remote_docker
      - build_kuscia_deps
  unit-test:
    parameters:
      executor:
        type: string
    executor: <<parameters.executor>>
    steps:
      - checkout
      - test
  linux_build_kuscia:
    parameters:
      executor:
        type: string
    executor: <<parameters.executor>>
    steps:
      - checkout
      - build_kuscia
  image_publish:
    docker:
      - image: cimg/deploy:2023.06.1
    shell: /bin/bash --login -eo pipefail
    steps:
      - checkout
      - setup_remote_docker
      - attach_workspace:
          at: /tmp/build
      - run:
          name: Build image and publish
          command: |
            set -ex
            mv /tmp/build/linux ./build/
            CIRCLETAG=$(echo ${CIRCLE_TAG} | sed 's/v//')
            IMAGE="secretflow/kuscia"
            ALIYUN_IMAGE="secretflow-registry.cn-hangzhou.cr.aliyuncs.com/secretflow/kuscia"

            # login kuscia dockerhub registry
            docker login -u secretflow -p ${DOCKER_DEPLOY_TOKEN}

            docker buildx create --name kuscia --platform linux/arm64,linux/amd64 --use

            docker buildx build -t ${IMAGE}:${CIRCLETAG} --platform linux/arm64,linux/amd64 -f ./build/dockerfile/kuscia-anolis.Dockerfile . --push
            #docker buildx build -t ${IMAGE}:latest --platform linux/arm64,linux/amd64 -f ./build/dockerfile/kuscia-anolis.Dockerfile . --push

            # login kuscia aliyun registry
            docker login -u ${ALIYUN_DOCKER_USERNAME} -p ${ALIYUN_DOCKER_PASSWORD}  secretflow-registry.cn-hangzhou.cr.aliyuncs.com

            #docker buildx build -t ${ALIYUN_IMAGE}:latest --platform linux/arm64,linux/amd64 -f ./build/dockerfile/kuscia-anolis.Dockerfile . --push
            docker buildx build -t ${ALIYUN_IMAGE}:${CIRCLETAG} --platform linux/arm64,linux/amd64 -f ./build/dockerfile/kuscia-anolis.Dockerfile . --push


# Orchestrate jobs using workflows
# See: https://circleci.com/docs/configuration-reference/#workflows
workflows:
  #  kuscia-workflow:
  #    when:
  #      and:
  #        - not: << pipeline.parameters.GHA_Action >>
  #        - not: << pipeline.parameters.GHA_Meta >>
  #    jobs:
  #      - unit-test:
  #          matrix:
  #            parameters:
  #              executor: [ "linux_x64_executor", "linux_aarch64_executor" ]
  #      - linux_build_kuscia:
  #          matrix:
  #            parameters:
  #              executor: [ "linux_x64_executor", "linux_aarch64_executor" ]
  #          filters:
  #            branches:
  #              ignore: /.*/
  #            tags:
  #              only: /^v.*/
  #      - image_publish:
  #          requires:
  #            - linux_build_kuscia
  #          filters:
  #            branches:
  #              ignore: /.*/
  #            tags:
  #              only: /^v.*/
  build-kuscia-deps-workflow:
    #    when:
    #      equal: [ "publish_kuscia_deps", << pipeline.parameters.GHA_Meta >> ]
    jobs:
      - linux_build_kuscia_deps:
          matrix:
            parameters:
              resource_class: ["2xlarge", "arm.xlarge"]
  publish-workflow:
    when:
      equal: [ "publish_pypi", << pipeline.parameters.GHA_Meta >> ]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/release-config.yml
