# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/configuration-reference
version: 2.1

setup: true

orbs:
  continuation: circleci/continuation@0.3.1

parameters:
  GHA_Actor:
    type: string
    default: ""
  GHA_Action:
    type: string
    default: ""
  GHA_Event:
    type: string
    default: ""
  GHA_Meta:
    type: string
    default: ""

executors:
  linux_x64_executor: # declares a reusable executor
    docker:
      - image: secretflow/kuscia-ci:0.4
    resource_class: 2xlarge
    shell: /bin/bash --login -eo pipefail
  linux_aarch64_executor:
    docker:
      - image: secretflow/ubuntu-base-ci:latest
    resource_class: arm.2xlarge
    shell: /bin/bash --login -eo pipefail

commands:
  build_kuscia:
    steps:
      - setup_remote_docker
      - run:
          name: "install go"
          command: |
            ARCH=$(uname -m)
            case "$ARCH" in
            x86_64) ARCH="amd64";;
            aarch64) ARCH="arm64";;
            *) echo "Unsupported architecture"; exit 1;;
            esac

            GOLANG_DIR="/usr/local"
            GOLANG_VERSION="1.22.2"
            GOLANG_URL="https://golang.org/dl/go${GOLANG_VERSION}.linux-${ARCH}.tar.gz"

            if ! command -v go &> /dev/null; then
            wget "$GOLANG_URL"
            tar -C "$GOLANG_DIR" -xzf "go${GOLANG_VERSION}.linux-${ARCH}.tar.gz"
            echo 'export PATH=$PATH:/usr/local/go/bin' | tee -a ~/.bashrc
            echo 'export PATH=$PATH:/usr/local/go/bin' >> $BASH_ENV
            source ~/.bashrc
            fi
      - run:
          name: "make build"
          command: |
            git config --global --add safe.directory ./
            make build
      - store_artifacts:
          path: build
  build_kuscia_deps:
    steps:
      - setup_remote_docker
      - run:
          name: "install go"
          command: |
            ARCH=$(uname -m)
            case "$ARCH" in
            x86_64) ARCH="amd64";;
            aarch64) ARCH="arm64";;
            *) echo "Unsupported architecture"; exit 1;;
            esac
            
            GOLANG_DIR="/usr/local"
            GOLANG_VERSION="1.22.2"
            GOLANG_URL="https://golang.org/dl/go${GOLANG_VERSION}.linux-${ARCH}.tar.gz"
            
            if ! command -v go &> /dev/null; then
            wget "$GOLANG_URL"
            tar -C "$GOLANG_DIR" -xzf "go${GOLANG_VERSION}.linux-${ARCH}.tar.gz"
            echo 'export PATH=$PATH:/usr/local/go/bin' | tee -a ~/.bashrc
            echo 'export PATH=$PATH:/usr/local/go/bin' >> $BASH_ENV
            source ~/.bashrc
            fi
      - run:
          name: "make build"
          command: |
            git config --global --add safe.directory ./
            make deps-build
      - store_artifacts:
          path: build
# Define a job to be invoked later in a workflow.
# See: https://circleci.com/docs/configuration-reference/#jobs
jobs:
  linux_build_kuscia:
    parameters:
      executor:
        type: string
    executor: <<parameters.executor>>
    steps:
      - checkout
      - build_kuscia
  linux_build_kuscia_deps:
    parameters:
      executor:
        type: string
    executor: <<parameters.executor>>
    steps:
      - checkout
      - build_kuscia_deps
  image_publish:
    docker:
      - image: secretflow/kuscia-ci:0.4
    shell: /bin/bash --login -eo pipefail
    steps:
      - attach_workspace:
          at: build
      - checkout
      - setup_remote_docker
      - run:
          name: Build image and publish
          command: |
            CIRCLETAG=$(echo ${CIRCLE_TAG} | sed 's/v//')
            DEPS_IMAGE = secretflow-registry.cn-hangzhou.cr.aliyuncs.com/secretflow/kuscia-deps:0.5.0b0
            ENVOY_IMAGE = secretflow/kuscia-envoy:latest
            IMAGE = "secretflow/kuscia"
            ALIYUN_IMAGE = "secretflow-registry.cn-hangzhou.cr.aliyuncs.com/secretflow/kuscia"
            
             # login kuscia dockerhub registry
            docker login -u secretflow -p ${DOCKER_DEPLOY_TOKEN}
            
            docker buildx create --name kuscia --platform linux/arm64,linux/amd64 --use
            
            docker buildx build -t ${IMAGE}:${CIRCLETAG} --platform linux/arm64,linux/amd64 --build-arg KUSCIA_ENVOY_IMAGE=${ENVOY_IMAGE} --build-arg DEPS_IMAGE=${DEPS_IMAGE} -f ./build/dockerfile/kuscia-anolis.Dockerfile . --push
            docker buildx build -t ${IMAGE}:latest --platform linux/arm64,linux/amd64 --build-arg KUSCIA_ENVOY_IMAGE=${ENVOY_IMAGE} --build-arg DEPS_IMAGE=${DEPS_IMAGE} -f ./build/dockerfile/kuscia-anolis.Dockerfile . --push
            
             # login kuscia aliyun registry
            docker login -u ${ALIYUN_DOCKER_USERNAME} -p ${ALIYUN_DOCKER_PASSWORD}  secretflow-registry.cn-hangzhou.cr.aliyuncs.com
            
            docker buildx build -t ${ALIYUN_IMAGE}:latest --platform linux/arm64,linux/amd64 --build-arg KUSCIA_ENVOY_IMAGE=${ENVOY_IMAGE} --build-arg DEPS_IMAGE=${DEPS_IMAGE} -f ./build/dockerfile/kuscia-anolis.Dockerfile . --push
            docker buildx build -t ${ALIYUN_IMAGE}:${CIRCLETAG} --platform linux/arm64,linux/amd64 --build-arg KUSCIA_ENVOY_IMAGE=${ENVOY_IMAGE} --build-arg DEPS_IMAGE=${DEPS_IMAGE} -f ./build/dockerfile/kuscia-anolis.Dockerfile . --push


# Orchestrate jobs using workflows
# See: https://circleci.com/docs/configuration-reference/#workflows
workflows:
  build-workflow:
    when:
      not:
        equal: [ "publish_pypi", << pipeline.parameters.GHA_Meta >> ]
    jobs:
      - linux_build_kuscia:
          matrix:
            parameters:
              executor: [ "linux_x64_executor", "linux_aarch64_executor" ]
      - linux_build_kuscia_deps:
          matrix:
            parameters:
              executor: [ "linux_x64_executor", "linux_aarch64_executor" ]
        filters:
          triggers:
            - manual
      - image_publish:
          requires:
            - linux_build_kuscia
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/
  publish-workflow:
    when:
      equal: [ "publish_pypi", << pipeline.parameters.GHA_Meta >> ]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/release-config.yml
