# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/configuration-reference
version: 2.1

setup: true

orbs:
  continuation: circleci/continuation@0.3.1

parameters:
  GHA_Actor:
    type: string
    default: ""
  GHA_Action:
    type: string
    default: ""
  GHA_Event:
    type: string
    default: ""
  GHA_Meta:
    type: string
    default: ""
  DEPS_Tag:
    type: string
    default: ""

executors:
  linux_x64_executor: # declares a reusable executor
    docker:
      - image: secretflow-registry.cn-hangzhou.cr.aliyuncs.com/secretflow/kuscia-ci:0.6
    resource_class: 2xlarge
    shell: /bin/bash --login -eo pipefail
  linux_aarch64_executor:
    docker:
      - image: secretflow-registry.cn-hangzhou.cr.aliyuncs.com/secretflow/kuscia-ci:0.6
    resource_class: arm.2xlarge
    shell: /bin/bash --login -eo pipefail
  linux_amd:
    machine:
      image: ubuntu-2404:2024.11.1
    shell: /bin/bash --login -eo pipefail
  linux_arm:
    machine:
      image: ubuntu-2204:2024.11.1
    resource_class: arm.medium
    shell: /bin/bash --login -eo pipefail

commands:
  test:
    steps:
      - checkout
      - run:
          name: "kuscia test"
          command: make test
  build_kuscia:
    steps:
      - checkout
      - run:
          name: "make build"
          command: |
            git config --global --add safe.directory ./
            make build

            DIR="/tmp/build/linux"
            mkdir -p $DIR
            cp -rf ./build/linux/* $DIR
      - persist_to_workspace:
          root: /tmp/build
          paths:
            - linux
# Define a job to be invoked later in a workflow.
# See: https://circleci.com/docs/configuration-reference/#jobs
jobs:
  unit-test:
    parameters:
      executor:
        type: string
    executor: <<parameters.executor>>
    steps:
      - checkout
      - test
  linux_build_kuscia:
    parameters:
      executor:
        type: string
    executor: <<parameters.executor>>
    steps:
      - checkout
      - build_kuscia
  image_publish:
    docker:
      - image: cimg/deploy:2023.06.1
    shell: /bin/bash --login -eo pipefail
    steps:
      - checkout
      - setup_remote_docker
      - attach_workspace:
          at: /tmp/build
      - run:
          name: Build image and publish
          command: |
            set -ex
            mv /tmp/build/linux ./build/
            IMAGE="secretflow/kuscia"
            ALIYUN_IMAGE="secretflow-registry.cn-hangzhou.cr.aliyuncs.com/secretflow/kuscia"

            if [[ ! -z "${CIRCLE_TAG}" ]]; then
              CIRCLETAG=$(echo ${CIRCLE_TAG} | sed 's/v//')
            elif [[ "${CIRCLE_BRANCH}" =~ ^release.* ]]; then
              CIRCLETAG="latest"
            fi

            # login kuscia dockerhub registry
            docker login -u secretflow -p ${DOCKER_DEPLOY_TOKEN}

            docker buildx create --name kuscia --platform linux/arm64,linux/amd64 --use

            docker buildx build -t ${IMAGE}:${CIRCLETAG} --platform linux/arm64,linux/amd64 -f ./build/dockerfile/kuscia-anolis.Dockerfile . --push
            #docker buildx build -t ${IMAGE}:latest --platform linux/arm64,linux/amd64 -f ./build/dockerfile/kuscia-anolis.Dockerfile . --push

            # login kuscia aliyun registry
            docker login -u ${ALIYUN_DOCKER_USERNAME} -p ${ALIYUN_DOCKER_PASSWORD}  secretflow-registry.cn-hangzhou.cr.aliyuncs.com

            #docker buildx build -t ${ALIYUN_IMAGE}:latest --platform linux/arm64,linux/amd64 -f ./build/dockerfile/kuscia-anolis.Dockerfile . --push
            docker buildx build -t ${ALIYUN_IMAGE}:${CIRCLETAG} --platform linux/arm64,linux/amd64 -f ./build/dockerfile/kuscia-anolis.Dockerfile . --push
  integration_test:
    parameters:
      executor:
        type: executor
    executor: << parameters.executor >>
    steps:
      - checkout
      - run:
          name: Build image and integration test
          command: |
            set -ex
            make integration_test

# Orchestrate jobs using workflows
# See: https://circleci.com/docs/configuration-reference/#workflows
workflows:
  kuscia-workflow:
    when:
      and:
        - not: << pipeline.parameters.GHA_Action >>
        - not: << pipeline.parameters.GHA_Meta >>
    jobs:
      - unit-test:
          matrix:
            parameters:
              executor: [ "linux_x64_executor", "linux_aarch64_executor" ]
      - linux_build_kuscia:
          matrix:
            parameters:
              executor: [ "linux_x64_executor", "linux_aarch64_executor" ]
          filters:
            branches:
              only: /^release.*/
            tags:
              only: /^v.*/
      - image_publish:
          requires:
            - linux_build_kuscia
          filters:
            branches:
              only: /^release.*/
            tags:
              only: /^v.*/
      - integration_test:
          matrix:
            parameters:
              executor: [ "linux_amd", "linux_arm" ]
          filters:
            branches:
              only: /.*/
            tags:
              only: /.*/

  build-kuscia-deps-workflow:
    when:
      equal: [ "publish_kuscia_deps", << pipeline.parameters.GHA_Meta >> ]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/deps-config.yml
  publish-workflow:
    when:
      equal: [ "publish_pypi", << pipeline.parameters.GHA_Meta >> ]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/release-config.yml
