#
# Copyright 2025 Ant Group Co., Ltd.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#   https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/configuration-reference
version: 2.1

setup: true

orbs:
  continuation: circleci/continuation@0.3.1

parameters:
  GHA_Actor:
    type: string
    default: ""
  GHA_Action:
    type: string
    default: ""
  GHA_Event:
    type: string
    default: ""
  GHA_Meta:
    type: string
    default: ""
  DEPS_Tag:
    type: string
    default: ""

executors:
  linux_x64_executor: # declares a reusable executor
    docker:
      - image: secretflow-registry.cn-hangzhou.cr.aliyuncs.com/secretflow/kuscia-ci:0.6
    resource_class: xlarge
    shell: /bin/bash --login -eo pipefail
  linux_aarch64_executor:
    docker:
      - image: secretflow-registry.cn-hangzhou.cr.aliyuncs.com/secretflow/kuscia-ci:0.6
    resource_class: arm.xlarge
    shell: /bin/bash --login -eo pipefail
  linux_amd:
    machine:
      image: ubuntu-2404:2024.11.1
    shell: /bin/bash --login -eo pipefail
  linux_arm:
    machine:
      image: ubuntu-2204:2024.11.1
    resource_class: arm.medium
    shell: /bin/bash --login -eo pipefail

commands:
  test:
    steps:
      - checkout
      - run:
          name: "kuscia test"
          command: make test
  build_kuscia:
    steps:
      - checkout
      - run:
          name: "make build"
          command: |
            git config --global --add safe.directory ./
            make build

            DIR="/tmp/build/linux"
            mkdir -p $DIR
            cp -rf ./build/linux/* $DIR
      - persist_to_workspace:
          root: /tmp/build
          paths:
            - linux
# Define a job to be invoked later in a workflow.
# See: https://circleci.com/docs/configuration-reference/#jobs
jobs:
  unit-test:
    parameters:
      executor:
        type: string
    executor: <<parameters.executor>>
    steps:
      - checkout
      - test
  linux_build_kuscia:
    parameters:
      executor:
        type: string
    executor: <<parameters.executor>>
    steps:
      - checkout
      - build_kuscia
  image_publish:
    docker:
      - image: cimg/deploy:2023.06.1
    shell: /bin/bash --login -eo pipefail
    steps:
      - checkout
      - setup_remote_docker
      - attach_workspace:
          at: /tmp/build
      - run:
          name: Build image and publish
          command: |
            set -ex
            mv /tmp/build/linux ./build/
            IMAGE="secretflow/kuscia"
            ALIYUN_IMAGE="secretflow-registry.cn-hangzhou.cr.aliyuncs.com/secretflow/kuscia"

            if [[ ! -z "${CIRCLE_TAG}" ]]; then
              CIRCLETAG=$(echo ${CIRCLE_TAG} | sed 's/v//')
            elif [[ "${CIRCLE_BRANCH}" =~ ^release.* ]]; then
              CIRCLETAG="latest"
            fi

            # login kuscia dockerhub registry
            docker login -u secretflow -p ${DOCKER_DEPLOY_TOKEN}

            docker buildx create --name kuscia --platform linux/arm64,linux/amd64 --use

            docker buildx build -t ${IMAGE}:${CIRCLETAG} --platform linux/arm64,linux/amd64 -f ./build/dockerfile/kuscia-anolis.Dockerfile . --push
            #docker buildx build -t ${IMAGE}:latest --platform linux/arm64,linux/amd64 -f ./build/dockerfile/kuscia-anolis.Dockerfile . --push

            # login kuscia aliyun registry
            docker login -u ${ALIYUN_DOCKER_USERNAME} -p ${ALIYUN_DOCKER_PASSWORD}  secretflow-registry.cn-hangzhou.cr.aliyuncs.com

            #docker buildx build -t ${ALIYUN_IMAGE}:latest --platform linux/arm64,linux/amd64 -f ./build/dockerfile/kuscia-anolis.Dockerfile . --push
            docker buildx build -t ${ALIYUN_IMAGE}:${CIRCLETAG} --platform linux/arm64,linux/amd64 -f ./build/dockerfile/kuscia-anolis.Dockerfile . --push
  integration_test:
    parameters:
      executor:
        type: executor
    executor: << parameters.executor >>
    steps:
      - checkout
      - run:
          name: Build image and integration test
          command: |
            set -ex
            make integration_test
  docs_publish:
    docker:
      - image: cimg/python:3.10-node
    shell: /bin/bash --login -eo pipefail
    steps:
      - checkout
      - run:
          name: Build docs and publish
          command: |
            set -ex
            cd docs
            export DRY_RUN=0
            export DOCTOOLS_PUBLISH_NPM_TOKEN=${DOCTOOLS_PUBLISH_NPM_TOKEN}
            sudo apt-get update && sudo apt install -y git
            python3 -m venv ~/.venv/docs
            source ~/.venv/docs/bin/activate
            python -m pip install -r requirements.txt
            secretflow-doctools build --lang zh_CN --lang en
            secretflow-doctools publish \
              --name @secretflow/x-kuscia \
              --index-js _build/esm/index.js

# Orchestrate jobs using workflows
# See: https://circleci.com/docs/configuration-reference/#workflows
workflows:
  kuscia-workflow:
    when:
      and:
        - not: << pipeline.parameters.GHA_Action >>
        - not: << pipeline.parameters.GHA_Meta >>
    jobs:
      - unit-test:
          matrix:
            parameters:
              executor: [ "linux_x64_executor", "linux_aarch64_executor" ]
      - linux_build_kuscia:
          matrix:
            parameters:
              executor: [ "linux_x64_executor", "linux_aarch64_executor" ]
          filters:
            branches:
              only: /^release.*/
            tags:
              only: /^v.*/
      - image_publish:
          requires:
            - linux_build_kuscia
          filters:
            branches:
              only: /^release.*/
            tags:
              only: /^v.*/
      - integration_test:
          matrix:
            parameters:
              executor: [ "linux_amd", "linux_arm" ]
          filters:
            branches:
              only: /.*/
            tags:
              only: /.*/
      - docs_publish:
          filters:
            branches:
              only: main
            tags:
              only: /^v.*/

  build-kuscia-deps-workflow:
    when:
      equal: [ "publish_kuscia_deps", << pipeline.parameters.GHA_Meta >> ]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/deps-config.yml
  publish-workflow:
    when:
      equal: [ "publish_pypi", << pipeline.parameters.GHA_Meta >> ]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/release-config.yml
