# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/configuration-reference
version: 2.1

# Define a job to be invoked later in a workflow.
# See: https://circleci.com/docs/configuration-reference/#jobs
jobs:
  build-envoy:
    docker:
      - image: secretflow/kuscia-ci:latest
    resource_class: 2xlarge
    shell: /bin/bash --login -eo pipefail
    steps:
      - checkout
      - run:
          name: Test Kuscia
          command: make test

# Orchestrate jobs using workflows
# See: https://circleci.com/docs/configuration-reference/#workflows
workflows:
  build-workflow:
    jobs:
      - build-envoy
