apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{.ServerCert}}
    server: {{.Endpoint}}
  name: default
contexts:
- context:
    cluster: default
    user: kuscia
  name: kuscia
current-context: kuscia
kind: Config
users:
- name: kuscia
  user:
    client-certificate-data: {{.KusciaCert}}
    client-key-data: {{.KusciaKey}}