/home/kuscia/var/logs/envoy/*.log {
  su root root
  daily
  dateext
  dateformat -%Y%m%d-%H
  compress
  delaycompress
  rotate {{.MaxFiles}}
  missingok
  nocreate
  sharedscripts
  size {{.MaxFileSizeMB}}M
  postrotate
    curl -X POST  127.0.0.1:10000/reopen_logs
  endscript
}
